%div.row
  %div.col-lg-12
    %div.bs-component
      %div.jumbotron
        %h1= t('app.site.description')
        %iframe(src="https://ghbtns.com/github-btn.html?user=Tomohiro&repo=betters&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px")
        %p= link_to t('app.views.session.sign_up'), new_user_registration_path, class: 'btn btn-primary btn-lg'

%section
  %div.page-header
    %div.row
      %div.col-lg-12
        %h2 Stacks
  %div.row
    %div.col-lg-4
      %div.panel.panel-info
        %div.panel-heading
          %h3.panel-title Web Application Framework
        %div.panel-body
          %ul
            %li Ruby 2.2
            %li Ruby on Rails 4.2
            %li Devise 3.4
            %li Omniauth 1.2
    %div.col-lg-4
      %div.panel.panel-info
        %div.panel-heading
          %h3.panel-title Backend
        %div.panel-body
          %ul
            %li Heroku
            %li Heroku Postgres
            %li RedisCloud
            %li SendGrid
    %div.col-lg-4
      %div.panel.panel-info
        %div.panel-heading
          %h3.panel-title Frontend
        %div.panel-body
          %ul
            %li Rails Assets
            %li Bootstrap
            %li FontAwesome
