%div.row
  %div.col-lg-12
    %div.bs-component
      %div.jumbotron
        %h1 Better Rails Base Project for Mine
        %p= link_to t(:sign_up), new_user_registration_path, class: 'btn btn-primary btn-lg'

%section
  %div.page-header
    %div.row
      %div.col-lg-12
        %h2 Stacks
  %div.row
    %div.col-lg-4
      %div.panel.panel-info
        %div.panel-heading
          %h3.panel-title Web Application Framework
        %div.panel-body
          %ul
            %li Ruby 2.2
            %li Ruby on Rails 4.2
            %li Devise 3.4
    %div.col-lg-4
      %div.panel.panel-info
        %div.panel-heading
          %h3.panel-title Backend
        %div.panel-body
          %ul
            %li Heroku
            %li Heroku Postgres
            %li RedisCloud
            %li SendGrid
    %div.col-lg-4
      %div.panel.panel-info
        %div.panel-heading
          %h3.panel-title Frontend
        %div.panel-body
          %ul
            %li Rails Assets
            %li Bootstrap with Bootswatch
            %li FontAwesome
