@import 'bootstrap';

/* Overrides Rails form error style from alert styles of Bootstrap */
#error_explanation {
  @extend .alert;
  @extend .alert-danger;

  h2 {
    font-size: 110% ;
  }
}

header {
  .container {
    padding-top: 10px;
  }

  .navbar-brand {
    margin-left: 10px;
    margin-right: 20px;
    background-color: #337ab7;
    color: #fff;
    border-radius: 2px;
  }

  nav li {
    text-transform: uppercase;
  }

  ul.navbar-right li.dropdown a {
    text-transform: none;
  }

  button.navbar-toggle {
    span.icon-bar {
      background-color: #337ab7;
    }
  }
}

footer {
  padding-bottom: 20px;

  .fa-heart {
    color: #ef7ab3;
  }
}

#landing-header {
  .jumbotron {
    color: #fff;
    background-color: #337ab7;
  }

  .btn-signup {
    padding-top: 10px 20px;
    color: #fff;
    border: 2px solid #fff;
  }
}
