@import 'bootstrap';

/* Overrides Rails form error style from alert styles of Bootstrap */
#error_explanation {
  @extend .alert;
  @extend .alert-danger;

  h2 {
    font-size: 110% ;
  }
}

header {
  div.container {
    padding-top: 20px;
  }

  nav li a {
    text-transform: uppercase;
  }

  ul.navbar-right li.dropdown a {
    text-transform: none;
  }

  button.navbar-toggle {
    span.icon-bar {
      background-color: #337AB7;
    }
  }
}

footer {
  padding-bottom: 20px;

  .fa-heart {
    color: pink;
  }
}

.btn-signup {
  padding: 10px 20px;
  border: 2px solid #337AB7;
}
