/*
 * Overrides pertial content for the Landing page
 *
 * Layouts and Rendering in Rails — Ruby on Rails Guides
 * http://guides.rubyonrails.org/layouts_and_rendering.html#using-nested-layouts
 */
- content_for :content do
  = yield
= render template: 'layouts/application'
